snippet date-br "dd/mm/yyyy"
`date +%d/%m/%Y`
endsnippet

snippet date-us "dd/mm/yyyy"
`date +%m/%d/%Y`
endsnippet

snippet date-iso "dd/mm/yyyy"
`date +%Y/%m/%d`
endsnippet

snippet time "HH:MM"
`date +%H:%M`
endsnippet

