[Unit]
Description=Activate redshiftctl upon login
# Documentation=
After=display-manager.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/redshiftctl reset
# Restart=always

[Install]
WantedBy=default.target
