[Unit]
Description=Wallpaper Changer Daemon

[Service]
Environment=DISPLAY=:0
ExecStart=/home/bruno/.local/bin/wcd

[Install]
WantedBy=default.target
